<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Cras adipiscing enim
        eu turpis egestas pretium aenean pharetra. Suscipit tellus mauris a diam
        maecenas sed enim ut sem. Eget mi proin sed libero enim sed. Vestibulum
        rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.
        Ornare lectus sit amet est placerat in egestas erat. Sem nulla pharetra
        diam sit amet nisl. Et ultrices neque ornare aenean euismod elementum
        nisi quis eleifend. Interdum velit euismod in pellentesque massa
        placerat duis ultricies lacus. Eget nulla facilisi etiam dignissim diam
        quis. Nisl suscipit adipiscing bibendum est ultricies integer quis
        auctor. Nibh sed pulvinar proin gravida hendrerit lectus a. Mauris
        ultrices eros in cursus turpis massa. Dictumst vestibulum rhoncus est
        pellentesque elit. In hac habitasse platea dictumst. Amet volutpat
        consequat mauris nunc congue nisi vitae suscipit tellus. Consequat
        semper viverra nam libero justo laoreet sit. At ultrices mi tempus
        imperdiet nulla malesuada pellentesque elit eget. Quis ipsum suspendisse
        ultrices gravida dictum fusce ut. Lectus magna fringilla urna porttitor
        rhoncus dolor purus non. Eget mi proin sed libero enim sed faucibus
        turpis. Duis tristique sollicitudin nibh sit amet commodo nulla
        facilisi. Quis varius quam quisque id. Sed risus pretium quam vulputate
        dignissim suspendisse in est ante. Vel elit scelerisque mauris
        pellentesque. Nisl nunc mi ipsum faucibus vitae aliquet. Non pulvinar
        neque laoreet suspendisse interdum consectetur. Aliquam etiam erat velit
        scelerisque in. Pellentesque id nibh tortor id aliquet lectus proin
        nibh. Malesuada pellentesque elit eget gravida cum sociis. At elementum
        eu facilisis sed odio morbi quis commodo odio. Ut enim blandit volutpat
        maecenas volutpat blandit. Tellus in hac habitasse platea. Luctus
        accumsan tortor posuere ac ut consequat. Neque viverra justo nec
        ultrices dui sapien eget mi. Dui ut ornare lectus sit amet. Lacus
        vestibulum sed arcu non odio. Arcu cursus euismod quis viverra nibh cras
        pulvinar mattis nunc. Morbi tempus iaculis urna id. Rutrum quisque non
        tellus orci ac auctor augue. Sit amet nisl suscipit adipiscing bibendum
        est ultricies integer quis. Cursus in hac habitasse platea dictumst
        quisque. Elit sed vulputate mi sit amet. Tincidunt eget nullam non nisi
        est sit amet facilisis magna. Vulputate sapien nec sagittis aliquam
        malesuada bibendum. Commodo nulla facilisi nullam vehicula ipsum a.
        Pellentesque elit eget gravida cum. Integer malesuada nunc vel risus. In
        dictum non consectetur a erat nam at. Vitae purus faucibus ornare
        suspendisse sed nisi lacus. Suspendisse interdum consectetur libero id
        faucibus nisl tincidunt. Lacus sed viverra tellus in hac habitasse
        platea dictumst. Vulputate mi sit amet mauris commodo quis imperdiet.
        Lacus vel facilisis volutpat est velit egestas dui. Eros in cursus
        turpis massa tincidunt dui ut ornare. Nulla facilisi etiam dignissim
        diam. In hendrerit gravida rutrum quisque. Ut faucibus pulvinar
        elementum integer enim neque volutpat ac tincidunt. Sed tempus urna et
        pharetra pharetra massa massa ultricies mi. Scelerisque eu ultrices
        vitae auctor eu augue. At imperdiet dui accumsan sit. Aliquam sem
        fringilla ut morbi tincidunt augue interdum. Non sodales neque sodales
        ut etiam sit. Ullamcorper dignissim cras tincidunt lobortis feugiat
        vivamus at. Netus et malesuada fames ac turpis egestas sed tempus.
        Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Interdum
        consectetur libero id faucibus nisl. Scelerisque purus semper eget duis
        at tellus at urna. At urna condimentum mattis pellentesque id nibh.
        Lacinia quis vel eros donec ac odio. Felis eget nunc lobortis mattis.
        Diam maecenas ultricies mi eget mauris pharetra et ultrices. Potenti
        nullam ac tortor vitae purus faucibus ornare suspendisse sed. Augue
        neque gravida in fermentum et sollicitudin ac orci phasellus. Varius
        duis at consectetur lorem donec massa sapien faucibus et. Aenean vel
        elit scelerisque mauris pellentesque pulvinar pellentesque. Pharetra sit
        amet aliquam id diam. Pretium vulputate sapien nec sagittis. Etiam
        tempor orci eu lobortis elementum nibh tellus molestie. In arcu cursus
        euismod quis viverra nibh cras pulvinar. Enim facilisis gravida neque
        convallis. Nunc scelerisque viverra mauris in aliquam sem. Imperdiet
        nulla malesuada pellentesque elit eget. Mauris a diam maecenas sed enim
        ut sem viverra. Dolor magna eget est lorem ipsum dolor sit amet.
        Adipiscing tristique risus nec feugiat.

        <ion-button>Button Slide 1</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Cras adipiscing enim
        eu turpis egestas pretium aenean pharetra. Suscipit tellus mauris a diam
        maecenas sed enim ut sem. Eget mi proin sed libero enim sed. Vestibulum
        rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.
        Ornare lectus sit amet est placerat in egestas erat. Sem nulla pharetra
        diam sit amet nisl. Et ultrices neque ornare aenean euismod elementum
        nisi quis eleifend. Interdum velit euismod in pellentesque massa
        placerat duis ultricies lacus. Eget nulla facilisi etiam dignissim diam
        quis. Nisl suscipit adipiscing bibendum est ultricies integer quis
        auctor. Nibh sed pulvinar proin gravida hendrerit lectus a. Mauris
        ultrices eros in cursus turpis massa. Dictumst vestibulum rhoncus est
        pellentesque elit. In hac habitasse platea dictumst. Amet volutpat
        consequat mauris nunc congue nisi vitae suscipit tellus. Consequat
        semper viverra nam libero justo laoreet sit. At ultrices mi tempus
        imperdiet nulla malesuada pellentesque elit eget. Quis ipsum suspendisse
        ultrices gravida dictum fusce ut. Lectus magna fringilla urna porttitor
        rhoncus dolor purus non. Eget mi proin sed libero enim sed faucibus
        turpis. Duis tristique sollicitudin nibh sit amet commodo nulla
        facilisi. Quis varius quam quisque id. Sed risus pretium quam vulputate
        dignissim suspendisse in est ante. Vel elit scelerisque mauris
        pellentesque. Nisl nunc mi ipsum faucibus vitae aliquet. Non pulvinar
        neque laoreet suspendisse interdum consectetur. Aliquam etiam erat velit
        scelerisque in. Pellentesque id nibh tortor id aliquet lectus proin
        nibh. Malesuada pellentesque elit eget gravida cum sociis. At elementum
        eu facilisis sed odio morbi quis commodo odio. Ut enim blandit volutpat
        maecenas volutpat blandit. Tellus in hac habitasse platea. Luctus
        accumsan tortor posuere ac ut consequat. Neque viverra justo nec
        ultrices dui sapien eget mi. Dui ut ornare lectus sit amet. Lacus
        vestibulum sed arcu non odio. Arcu cursus euismod quis viverra nibh cras
        pulvinar mattis nunc. Morbi tempus iaculis urna id. Rutrum quisque non
        tellus orci ac auctor augue. Sit amet nisl suscipit adipiscing bibendum
        est ultricies integer quis. Cursus in hac habitasse platea dictumst
        quisque. Elit sed vulputate mi sit amet. Tincidunt eget nullam non nisi
        est sit amet facilisis magna. Vulputate sapien nec sagittis aliquam
        malesuada bibendum. Commodo nulla facilisi nullam vehicula ipsum a.
        Pellentesque elit eget gravida cum. Integer malesuada nunc vel risus. In
        dictum non consectetur a erat nam at. Vitae purus faucibus ornare
        suspendisse sed nisi lacus. Suspendisse interdum consectetur libero id
        faucibus nisl tincidunt. Lacus sed viverra tellus in hac habitasse
        platea dictumst. Vulputate mi sit amet mauris commodo quis imperdiet.
        Lacus vel facilisis volutpat est velit egestas dui. Eros in cursus
        turpis massa tincidunt dui ut ornare. Nulla facilisi etiam dignissim
        diam. In hendrerit gravida rutrum quisque. Ut faucibus pulvinar
        elementum integer enim neque volutpat ac tincidunt. Sed tempus urna et
        pharetra pharetra massa massa ultricies mi. Scelerisque eu ultrices
        vitae auctor eu augue. At imperdiet dui accumsan sit. Aliquam sem
        fringilla ut morbi tincidunt augue interdum. Non sodales neque sodales
        ut etiam sit. Ullamcorper dignissim cras tincidunt lobortis feugiat
        vivamus at. Netus et malesuada fames ac turpis egestas sed tempus.
        Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Interdum
        consectetur libero id faucibus nisl. Scelerisque purus semper eget duis
        at tellus at urna. At urna condimentum mattis pellentesque id nibh.
        Lacinia quis vel eros donec ac odio. Felis eget nunc lobortis mattis.
        Diam maecenas ultricies mi eget mauris pharetra et ultrices. Potenti
        nullam ac tortor vitae purus faucibus ornare suspendisse sed. Augue
        neque gravida in fermentum et sollicitudin ac orci phasellus. Varius
        duis at consectetur lorem donec massa sapien faucibus et. Aenean vel
        elit scelerisque mauris pellentesque pulvinar pellentesque. Pharetra sit
        amet aliquam id diam. Pretium vulputate sapien nec sagittis. Etiam
        tempor orci eu lobortis elementum nibh tellus molestie. In arcu cursus
        euismod quis viverra nibh cras pulvinar. Enim facilisis gravida neque
        convallis. Nunc scelerisque viverra mauris in aliquam sem. Imperdiet
        nulla malesuada pellentesque elit eget. Mauris a diam maecenas sed enim
        ut sem viverra. Dolor magna eget est lorem ipsum dolor sit amet.
        Adipiscing tristique risus nec feugiat.
        <ion-button>Button slide 2</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Cras adipiscing enim
        eu turpis egestas pretium aenean pharetra. Suscipit tellus mauris a diam
        maecenas sed enim ut sem. Eget mi proin sed libero enim sed. Vestibulum
        rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.
        Ornare lectus sit amet est placerat in egestas erat. Sem nulla pharetra
        diam sit amet nisl. Et ultrices neque ornare aenean euismod elementum
        nisi quis eleifend. Interdum velit euismod in pellentesque massa
        placerat duis ultricies lacus. Eget nulla facilisi etiam dignissim diam
        quis. Nisl suscipit adipiscing bibendum est ultricies integer quis
        auctor. Nibh sed pulvinar proin gravida hendrerit lectus a. Mauris
        ultrices eros in cursus turpis massa. Dictumst vestibulum rhoncus est
        pellentesque elit. In hac habitasse platea dictumst. Amet volutpat
        consequat mauris nunc congue nisi vitae suscipit tellus. Consequat
        semper viverra nam libero justo laoreet sit. At ultrices mi tempus
        imperdiet nulla malesuada pellentesque elit eget. Quis ipsum suspendisse
        ultrices gravida dictum fusce ut. Lectus magna fringilla urna porttitor
        rhoncus dolor purus non. Eget mi proin sed libero enim sed faucibus
        turpis. Duis tristique sollicitudin nibh sit amet commodo nulla
        facilisi. Quis varius quam quisque id. Sed risus pretium quam vulputate
        dignissim suspendisse in est ante. Vel elit scelerisque mauris
        pellentesque. Nisl nunc mi ipsum faucibus vitae aliquet. Non pulvinar
        neque laoreet suspendisse interdum consectetur. Aliquam etiam erat velit
        scelerisque in. Pellentesque id nibh tortor id aliquet lectus proin
        nibh. Malesuada pellentesque elit eget gravida cum sociis. At elementum
        eu facilisis sed odio morbi quis commodo odio. Ut enim blandit volutpat
        maecenas volutpat blandit. Tellus in hac habitasse platea. Luctus
        accumsan tortor posuere ac ut consequat. Neque viverra justo nec
        ultrices dui sapien eget mi. Dui ut ornare lectus sit amet. Lacus
        vestibulum sed arcu non odio. Arcu cursus euismod quis viverra nibh cras
        pulvinar mattis nunc. Morbi tempus iaculis urna id. Rutrum quisque non
        tellus orci ac auctor augue. Sit amet nisl suscipit adipiscing bibendum
        est ultricies integer quis. Cursus in hac habitasse platea dictumst
        quisque. Elit sed vulputate mi sit amet. Tincidunt eget nullam non nisi
        est sit amet facilisis magna. Vulputate sapien nec sagittis aliquam
        malesuada bibendum. Commodo nulla facilisi nullam vehicula ipsum a.
        Pellentesque elit eget gravida cum. Integer malesuada nunc vel risus. In
        dictum non consectetur a erat nam at. Vitae purus faucibus ornare
        suspendisse sed nisi lacus. Suspendisse interdum consectetur libero id
        faucibus nisl tincidunt. Lacus sed viverra tellus in hac habitasse
        platea dictumst. Vulputate mi sit amet mauris commodo quis imperdiet.
        Lacus vel facilisis volutpat est velit egestas dui. Eros in cursus
        turpis massa tincidunt dui ut ornare. Nulla facilisi etiam dignissim
        diam. In hendrerit gravida rutrum quisque. Ut faucibus pulvinar
        elementum integer enim neque volutpat ac tincidunt. Sed tempus urna et
        pharetra pharetra massa massa ultricies mi. Scelerisque eu ultrices
        vitae auctor eu augue. At imperdiet dui accumsan sit. Aliquam sem
        fringilla ut morbi tincidunt augue interdum. Non sodales neque sodales
        ut etiam sit. Ullamcorper dignissim cras tincidunt lobortis feugiat
        vivamus at. Netus et malesuada fames ac turpis egestas sed tempus.
        Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Interdum
        consectetur libero id faucibus nisl. Scelerisque purus semper eget duis
        at tellus at urna. At urna condimentum mattis pellentesque id nibh.
        Lacinia quis vel eros donec ac odio. Felis eget nunc lobortis mattis.
        Diam maecenas ultricies mi eget mauris pharetra et ultrices. Potenti
        nullam ac tortor vitae purus faucibus ornare suspendisse sed. Augue
        neque gravida in fermentum et sollicitudin ac orci phasellus. Varius
        duis at consectetur lorem donec massa sapien faucibus et. Aenean vel
        elit scelerisque mauris pellentesque pulvinar pellentesque. Pharetra sit
        amet aliquam id diam. Pretium vulputate sapien nec sagittis. Etiam
        tempor orci eu lobortis elementum nibh tellus molestie. In arcu cursus
        euismod quis viverra nibh cras pulvinar. Enim facilisis gravida neque
        convallis. Nunc scelerisque viverra mauris in aliquam sem. Imperdiet
        nulla malesuada pellentesque elit eget. Mauris a diam maecenas sed enim
        ut sem viverra. Dolor magna eget est lorem ipsum dolor sit amet.
        Adipiscing tristique risus nec feugiat.

        <ion-button>Button Slide 3</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
